* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ########################### BASIC HTML ELEMENTS */
.logo{
  font-size: 1.2em;
  font-weight: 600;
}
.App {
  display: grid;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgb(26, 52, 63), rgb(18, 33, 37), #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgb(26, 52, 63), rgb(18, 33, 37), #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: 'Lato', sans-serif;
}

main {
  display: grid;
  margin: 5vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-content: center;
  background-color: #203A43;
  -webkit-box-shadow: -1px 6px 7px -1px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: -1px 6px 7px -1px rgba(0, 0, 0, 0.20);
  box-shadow: -1px 6px 7px -1px rgba(0, 0, 0, 0.20);
  padding: 0vw 10vw 00vw 8vw;
  height: 8vw;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
}

nav ul li {
  display: grid;
  align-content: center;
  text-align: center;
}

nav ul li a {
  display: grid;
  height: 8vw;
  align-content: center;
  border-bottom: solid 1vw #203A43;
}

a {
  text-decoration: none;
  color: #fff;
  height: 100%;
}

a.active {
  color: #fff;
  border-bottom: solid 1vw #2C5364;
}

section {
  width: 80vw;
  background-color: #203A43;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: 30vw;
  display: grid;
  align-self: center;
  justify-self: center;
  padding: 2vw 0;
}

.banner {
  background-color: #0F2027;
  color: #fff;
  height: auto;
  width: 100%;
}

/* ########################### BUTTONS */

button {
  /* border-radius: 50%; */
  display: grid;
  justify-self: center;
  width: 10vw;
  height: 10vw;
  border: 0.1px solid #2C5364;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 1s ease-in-out;
  padding: 1vw;
}

button.active {
  background-color: #0F2027;
  color: #fff;
}

ul {
  list-style-type: none;
}

/* ########################## COLORS */

.bgWhite{
  background-color: #fff;
}

.bgDark{
  background-color: #0F2027;
}

.bgMedium{
  background-color: #203A43;
}

.bgLight{
  background-color: #2C5364;
}

.colorWhite{
  color: #fff;
}
.colorRed{
  color: red;
}

.colorBlack{
  color: #000;
}

/* ########################## GRIDS */

.flexEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.flexStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid {
  display: grid;
}

.gridTwoColumns {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 800px) {
  .gridTwoColumns {
    grid-template-columns: 1fr;
  }
}

.gridTwoThirds {
  grid-template-columns: 2fr 1fr;
}

.gridTwoThirdsAlmost {
  grid-template-columns: 1.5fr 1fr;
}

.gridThreeColumns {
  grid-template-columns: repeat(3, 1fr);
}

.gridFourColumns {
  grid-template-columns: repeat(4, 1fr);
}

.gridSevenColumns {
  grid-template-columns: repeat(7, 1fr);
}

.gridGapSmall {
  grid-gap: 2vw;
}

.gridGapMedium {
  grid-gap: 4vw;
}

.gridOneThird {
  grid-template-columns: 1fr 2fr;
}

.gridOneFourth {
  grid-template-columns: 1fr 4fr;
}

/* ########################### PADDING AND MARGIN */
.paddingSmall {
  padding: 1vw;
}

.paddingBottomSmall{
  padding-bottom: 1vw;
}

.paddingTopSmall{
  padding-top: 1vw;
}

.paddingVerticalSmall {
  padding: 1vw 0;
}

.paddingHorizontalSmall {
  padding: 0 1vw;
}

.paddingMedium{
  padding: 2vw;
}

.paddingVerticalMedium {
  padding: 2vw 0;
}

.paddingHorizontalMedium {
  padding: 0 2vw;
}

.paddingBottomMedium{
  padding-bottom: 2vw;
}

.paddingBottomLarge{
  padding-bottom: 4vw;
}

.marginTopSmall {
  margin-top: 1vw;
}

.marginSmall{
  margin:1vw;
}
.marginVerticalSmall{
  margin: 1vw 0;
}

.marginHorisontalSmall{
  margin: 0 1vw;
}

.marginTopMedium {
  margin-top: 2vw;
}

.marginMedium{
  margin:2vw;
}
.marginVerticalMedium{
  margin: 2vw 0;
}

.marginHorisontalMedium{
  margin: 0 2vw;
}

/* ########################### TEXT ALIGNMENT */
.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

/* ########################### ALIGNMENT */
.alignItemsBottom {
  align-items: flex-end;
}

.alignItemsTop {
  align-items: flex-start;
}

.alignItemsCenter {
  align-items: center;
}

.alignSelfTop {
  align-self: flex-start;
}

.alignSelfBottom {
  align-self: flex-end;
}

.alignSelfCenter {
  align-self: center;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyItemsCenter{
  justify-items: center;
}
.justifyItemsRight {
  justify-items: right;
}

.justifyContentLeft {
  justify-content: left;
}

.justifySelfCenter {
  justify-self: center;
}

.marginAuto {
  margin: 0 auto;
}

/* ########################### FONTS AND HEADERS */
h1,
h2,
h3,
a,
button,
p {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: calc(2rem + 40%);
}

h2 {
  font-size: calc(1rem + 40%);
}

/* ########################### FORM STYLING */

.formContainer {
  height: 100%;
  display: grid;
}

form {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  width: 75%;
  grid-gap: 1vw;
}

input {
  width: 100%;
  margin: 0.5vw 0 1vw 0;
  padding: 0.8rem;
  outline: none;
}

label {
  margin: 0 0 1vw 0;
}